{% extends "base.html" %}

{% block title %}
About Cascade Ski Lodge
{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-8">
            <h2>Cascade Ski Lodge - THE Family-Friendly Place in Government Camp, Mt. Hood</h2>
            <p>
                <strong>Lodge Amenities:</strong><br>
                Members feel at home lounging on one of the couches in front of the cozy fireplace; kids exhaust their energy playing games in the downstairs gaming room.
                <!-- If you would like to become a member, click here to go to the online Membership application page</a>. -->
            </p>
            <p>
                The CSC Lodge has:
            </p>
            <ul>
                <li>Large living room with TV, couches, fireplace, free internet access</li>
                <li>Dining room where tasty dinners (Friday & Saturday nights) and hearty breakfasts (Saturday & Sunday mornings) are served</li>
                <li>Drying room, a waxing room, and lockers that can be rented for the season</li>
                <li>Clean dormitories (including women's only, men's only, adult's, snorer's and Co-ed sections)</li>
            </ul>
            <p>
                <strong>Club History:</strong><br>
                With a tradition that is over 90 years old, Cascade Ski Club holds a special place in American Ski history. Cascade is the oldest continuously operating Ski Club that began solely for skiing in Oregon, and as such has strived to promote skiing as a popular activity.
                Cascade built and maintained the first nationally sanctioned ski jump in Oregon. More history can be found <a href="#">here</a>.
            </p>
            <p>
                The Lodge was built in 1947. The exterior of the CSC lodge was designed in the massive Cascade style, very appropriate for the mountain setting. The old clubhouse on the south side of the highway was torn down and the remnants razed. When Mountain View burned in 1955, a very large open area was created, which gives the Cascade Lodge an impressive open Snowfield in front of the building.
            </p>
        </div>
    </div>
</div>
{% endblock %}
